@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Note 
PColor: #0D1321
SColor: #FFFFFF
*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-family: "Azeret Mono";
}

.container {
  width: 90%;
}

/* -------------- Style for Banner Section---------- */
.banner-container {
  background-image: url("/assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 652px;
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.banner-content img {
  width: 240;
  height: 240;
}
.banner-content h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  margin: 32px 0 24px 0;
}

.banner-content p {
  width: 70%;
  text-align: center;
  font-weight: 400;
}

.banner-btn {
  background-color: #0d1321;
  color: #ffffff;
  padding: 21px 24px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 32px;
}

/* --------------- Style for Dev QA Section -------- */
.devqa-container {
  width: 100%;
  margin: 80px auto;
  padding: 80px 95px;
  background-color: rgba(13, 19, 33, 0.02);
}

.dev-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 90%;
}

.dev-title h1 {
  font-size: 32px;
}

.dev-title p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.dev-content {
  margin-top: 48px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dev-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  background-color: #ffffff;
  padding: 48px;
  border-radius: 8px;
}

.dev-content-container {
  width: 90%;
  height: 100%;
}

.dev-content-img {
  width: 240px;
  height: 240px;
}

.dev-item-title {
  font-size: 24px;
  font-weight: 700px;
  color: #0d1321;
  opacity: 70%;
}

.dev-item-description {
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
  margin: 16px 0 32px;
}

.dev-btn {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600px;
  background: #ffffff;
  color: #0d1321;
  border: solid 1px #0d1321;
}

/* -------------- Style for My Inspiration Section---------- */
.inspiration-content {
  width: 70%;
  margin: 0 auto 48px;
  text-align: center;
}

.inspiration-content h1 {
  font-size: 32px;
  font-weight: 800px;
  margin-bottom: 24px;
}
.inspiration-content p {
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
}

.inspiration-video {
  margin: 0 auto;
  height: 500px;
  width: 90%;
  padding: 32px;
  border: 1px solid #d4d5d8;
  border-radius: 8px;
  margin-top: 48;
}

.inspiration-video iframe {
  border-radius: 8px;
  cursor: pointer;
}
