@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Note 
PColor: #0D1321
SColor: #FFFFFF
*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-family: "Azeret Mono";
}

.container {
  width: 90%;
}

/* -------------- Style for Banner Section---------- */
.banner-container {
  background-image: url("/assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 652px;
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.banner-content img {
  width: 240;
  height: 240;
}
.banner-content h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  margin: 32px 0 24px 0;
}

.banner-content p {
  width: 70%;
  text-align: center;
  font-weight: 400;
}

.banner-btn {
  background-color: #0d1321;
  color: #ffffff;
  padding: 21px 24px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 32px;
}

/* --------------- Style for Dev QA Section -------- */
.devqa-container {
  width: 100%;
  margin: 80px auto;
  padding: 80px 95px;
  background-color: rgba(13, 19, 33, 0.02);
}

.dev-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 90%;
}

.dev-title h1 {
  font-size: 32px;
}

.dev-title p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.dev-content {
  margin-top: 48px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dev-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  background-color: #ffffff;
  padding: 48px;
  border-radius: 8px;
}

.dev-content-container {
  width: 90%;
  height: 100%;
}

.dev-content-img {
  width: 240px;
  height: 240px;
}

.dev-item-title {
  font-size: 24px;
  font-weight: 700px;
  color: #0d1321;
  opacity: 70%;
}

.dev-item-description {
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
  margin: 16px 0 32px;
}

.dev-btn {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600px;
  background: #ffffff;
  color: #0d1321;
  border: solid 1px #0d1321;
}

/* -------------- Style for My Inspiration Section---------- */
.inspiration-content {
  width: 70%;
  margin: 0 auto 48px;
  text-align: center;
}

.inspiration-content h1 {
  font-size: 32px;
  font-weight: 800px;
  margin-bottom: 24px;
}
.inspiration-content p {
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
}

.inspiration-video {
  margin: 0 auto;
  height: 500px;
  width: 90%;
  padding: 32px;
  border: 1px solid #d4d5d8;
  border-radius: 8px;
  margin-top: 48;
}

.inspiration-video iframe {
  border-radius: 8px;
  cursor: pointer;
}

/* Current target section */
.current-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.current_container {
  margin-top: 130px;
  width: 90%;
}

.current-div {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.current-div-second {
  background-color: rgba(0, 76, 232, 0.05);
}
.current-div-thard {
  background-color: rgba(255, 223, 0, 0.05);
}
.current-logo {
  width: 56px;
  height: 56px;
}
.current-h1 {
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 24px;
}
.current-p {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.current-button {
  text-decoration: underline;
  margin-top: 24px;
  color: #0d1321;
  font-weight: 700;
}

/* Support section */
.support-div {
  width: 90%;
  height: 313px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(./assets/handshake.jpg) lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  padding: 48px 64px;
  margin-top: 150px;
  margin-bottom: 118px;
}
.support-h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.support-p {
  width: 606px;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.support-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.support-input input {
  width: 518px;
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  padding: 19px 20px;
  border-radius: 8px;
}
.support-input button {
  width: 120px;
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border-radius: 8px;
}

/* Footer Section */
.footer-div {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(13, 19, 33, 0.03);
  padding: 32px 0;
  
}
.footer-h1 {
  color: #0d1321;
  text-align: left;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 600;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
